.education {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 30px 0;
    padding: .5rem;
    transition: 0.5s;
    border-radius: 10px;
    width: 35%;
    /* Adjust the width as needed */
    font-size: 1.1rem;
}

.widecard:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    color: #fff;
    background: #04bade;
}

.widecard img {
    width: 40%;
    height: 100%;
}

.icon {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.compdet {
    flex: 1;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #04bade;
}

.skills ul li {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #04bade;
    color: #fff;
    font-size: 1.1rem;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Projectcard {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 0.3rem;
    transition: 0.5s;
    border-radius: 10px;
    max-width: 100%;
    width: 80vw;
}

.Projectcard img {
    width: 30%;
    height: auto;
    object-fit: cover;
}

.Projectcard:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    color: #fff;
    background: #04bade;
}


@media screen and (max-width: 768px) {
    .widecard {
        width: 80%;
        margin: 10px;
    }   

    .widecard img {
        width: 50%;
    }

    .Projectcard {
        width: 90vw;
        font-size: 0.75rem;
    }

    .Projectcard img {
        width: 50%;
    }

    .skills {
        width: 100%;
        margin-top: 0;
    }

    .skills ul li {
        margin: 5px;
        padding: 8px; /* Adjusted padding for better spacing on smaller screens */
        font-size: 0.9rem; /* Increased font size for better readability on smaller screens */
    }
}